<!DOCTYPE html>
<head>
  <link type="text/css" rel="stylesheet" href="../public/assets/stylesheet.css" />
  <link
      href="
            https://fonts.googleapis.com/icon?family=Roboto|Open+Sans|Source+Sans+Pro|Zilla+Slab|Varela+Round"
      rel="stylesheet"
  />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script type="text/javascript" src="../public/assets/js/script.js"> </script>
</head>

<body style="background-color: #ffffff;">
  <div class="topbar" id="homepage-topbar">
    <button onclick="window.location.replace('/')">Home</button>
    <button onclick="window.location.replace('/Link1')">Administration</button>
    <button onclick="window.location.replace('/Link2')">Admission</button>
    <button onclick="window.location.replace('/Link3')">Purchase/Tender</button>
    <button onclick="window.location.replace('/Link4')">ABC Act & Rules</button>
    <button onclick="window.location.replace('/Link5')">Student One View</button>
    <button onclick="window.location.replace('/Link6')">Link 6</button>
    <button onclick="window.location.replace('/Link7')">Link 7</button>
  </div>

  <div class="header" id="homepage-header">
    <img src="../public/assets/Logo.png" id="homepage-logo">
    <div class=" text">
      <div class="left" id="header-text-left">
        ABC Technological University
      </div>

      <div class="right" id="header-text-right">
        Address is to be placed here
      </div>
    </div>
  </div>

  <div class="navbar" id="homepage-navbar">
    <button onclick="window.location.replace('/Link1')">Link 1</button>
    <button onclick="window.location.replace('/Link2')">Link 2</button>
    <button onclick="window.location.replace('/Link3')">Link 3</button>
    <button onclick="window.location.replace('/Link4')">Link 4</button>
    <button onclick="window.location.replace('/Link5')">Link 5</button>
    <button onclick="window.location.replace('/Link6')">Link 6</button>
    <button onclick="window.location.replace('/Link7')">Link 7</button>
    <div class="dropdown" id="homepage-dropdown">
      <!-- <ul>
        <li> <a href="#"> Option 1 </a>
        <li> <a href="#"> Option 2 </a>
        <li> <a href="#"> Option 3 </a>
      </ul> -->
    </div>
  </div>

  <div class="sidenav" id="homepage-sidenav">
    <a href="#">Useless</a>
    <a href="#">Useless</a>
    <a href="#">Useless</a>
    <a href="#">Useless</a>
    <a href="#">Useless</a>
    <a href="#">Useless</a>
    <a href="#">Useless</a>
  </div>

  <div class="container" id="homepage-container">
    <table class="material-table" id="homepage-contact-info">
      <thead>
        <th style="width: 200px;">Name</th>
        <th style="width: auto;">Email</th>
        <th style="width: 100px;">Contact Info</th>
      </thead>
      <tr>
        <td>Siddhartha</td>
        <td>siddharthamaster4@gmail.com</td>
        <td>9811224936</td>
      </tr>
      <tr>
        <td>Divya Sharma</td>
        <td>divyasharma.drds@gmail.com</td>
        <td>9876543210</td>
      </tr>
      <tr>
        <td>Simarpreet Singh</td>
        <td>samsingh7039@gmail.com</td>
        <td>9654342350</td>
      </tr>
      <tr>
        <td>Siddhant Jain</td>
        <td>asn.siddhant@gmail.com</td>
        <td>9876543210</td>
      </tr>
      <tr>
        <td>Aryan Rana</td>
        <td>aryanrana@gmail.com</td>
        <td>9876543210</td>
      </tr>
      <tfoot>
        <td>Total</td>
        <td>Count</td>
        <td>Here</td>
      </tfoot>
    </table>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Maecenas a semper lectus, sed semper neque.
      In sed odio eu tellus luctus auctor et ut odio. 
      Maecenas nibh turpis, tincidunt in pretium euismod, tincidunt eu libero.
      Curabitur sollicitudin condimentum mauris, vitae maximus nunc pharetra vel.
      In dictum, eros sit amet condimentum sagittis, lorem neque auctor nunc, sit amet sodales turpis quam non lorem.
      Quisque vel varius erat. Sed faucibus iaculis odio non venenatis. 
      Suspendisse ornare sapien at sem dictum dignissim. 
      Suspendisse at placerat tellus, eu laoreet mi. Sed pretium tempus risus vitae scelerisque. 
      Fusce vel luctus quam, id venenatis felis. 
      Praesent sagittis vehicula enim, vitae varius odio consectetur non. 
      Pellentesque massa libero, rutrum at maximus at, viverra malesuada dolor. 
      Aliquam dignissim dui ac ante blandit, a venenatis nunc lacinia. 
      Aenean gravida tempus mattis.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Maecenas a semper lectus, sed semper neque.
      In sed odio eu tellus luctus auctor et ut odio. 
      Maecenas nibh turpis, tincidunt in pretium euismod, tincidunt eu libero.
      Curabitur sollicitudin condimentum mauris, vitae maximus nunc pharetra vel.
      In dictum, eros sit amet condimentum sagittis, lorem neque auctor nunc, sit amet sodales turpis quam non lorem.
      Quisque vel varius erat. Sed faucibus iaculis odio non venenatis. 
      Suspendisse ornare sapien at sem dictum dignissim. 
      Suspendisse at placerat tellus, eu laoreet mi. Sed pretium tempus risus vitae scelerisque. 
      Fusce vel luctus quam, id venenatis felis. 
      Praesent sagittis vehicula enim, vitae varius odio consectetur non. 
      Pellentesque massa libero, rutrum at maximus at, viverra malesuada dolor. 
      Aliquam dignissim dui ac ante blandit, a venenatis nunc lacinia. 
      Aenean gravida tempus mattis.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Maecenas a semper lectus, sed semper neque.
      In sed odio eu tellus luctus auctor et ut odio. 
      Maecenas nibh turpis, tincidunt in pretium euismod, tincidunt eu libero.
      Curabitur sollicitudin condimentum mauris, vitae maximus nunc pharetra vel.
      In dictum, eros sit amet condimentum sagittis, lorem neque auctor nunc, sit amet sodales turpis quam non lorem.
      Quisque vel varius erat. Sed faucibus iaculis odio non venenatis. 
      Suspendisse ornare sapien at sem dictum dignissim. 
      Suspendisse at placerat tellus, eu laoreet mi. Sed pretium tempus risus vitae scelerisque. 
      Fusce vel luctus quam, id venenatis felis. 
      Praesent sagittis vehicula enim, vitae varius odio consectetur non. 
      Pellentesque massa libero, rutrum at maximus at, viverra malesuada dolor. 
      Aliquam dignissim dui ac ante blandit, a venenatis nunc lacinia. 
      Aenean gravida tempus mattis.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Maecenas a semper lectus, sed semper neque.
      In sed odio eu tellus luctus auctor et ut odio. 
      Maecenas nibh turpis, tincidunt in pretium euismod, tincidunt eu libero.
      Curabitur sollicitudin condimentum mauris, vitae maximus nunc pharetra vel.
      In dictum, eros sit amet condimentum sagittis, lorem neque auctor nunc, sit amet sodales turpis quam non lorem.
      Quisque vel varius erat. Sed faucibus iaculis odio non venenatis. 
      Suspendisse ornare sapien at sem dictum dignissim. 
      Suspendisse at placerat tellus, eu laoreet mi. Sed pretium tempus risus vitae scelerisque. 
      Fusce vel luctus quam, id venenatis felis. 
      Praesent sagittis vehicula enim, vitae varius odio consectetur non. 
      Pellentesque massa libero, rutrum at maximus at, viverra malesuada dolor. 
      Aliquam dignissim dui ac ante blandit, a venenatis nunc lacinia. 
      Aenean gravida tempus mattis.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Maecenas a semper lectus, sed semper neque.
      In sed odio eu tellus luctus auctor et ut odio. 
      Maecenas nibh turpis, tincidunt in pretium euismod, tincidunt eu libero.
      Curabitur sollicitudin condimentum mauris, vitae maximus nunc pharetra vel.
      In dictum, eros sit amet condimentum sagittis, lorem neque auctor nunc, sit amet sodales turpis quam non lorem.
      Quisque vel varius erat. Sed faucibus iaculis odio non venenatis. 
      Suspendisse ornare sapien at sem dictum dignissim. 
      Suspendisse at placerat tellus, eu laoreet mi. Sed pretium tempus risus vitae scelerisque. 
      Fusce vel luctus quam, id venenatis felis. 
      Praesent sagittis vehicula enim, vitae varius odio consectetur non. 
      Pellentesque massa libero, rutrum at maximus at, viverra malesuada dolor. 
      Aliquam dignissim dui ac ante blandit, a venenatis nunc lacinia. 
      Aenean gravida tempus mattis.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Maecenas a semper lectus, sed semper neque.
      In sed odio eu tellus luctus auctor et ut odio. 
      Maecenas nibh turpis, tincidunt in pretium euismod, tincidunt eu libero.
      Curabitur sollicitudin condimentum mauris, vitae maximus nunc pharetra vel.
      In dictum, eros sit amet condimentum sagittis, lorem neque auctor nunc, sit amet sodales turpis quam non lorem.
      Quisque vel varius erat. Sed faucibus iaculis odio non venenatis. 
      Suspendisse ornare sapien at sem dictum dignissim. 
      Suspendisse at placerat tellus, eu laoreet mi. Sed pretium tempus risus vitae scelerisque. 
      Fusce vel luctus quam, id venenatis felis. 
      Praesent sagittis vehicula enim, vitae varius odio consectetur non. 
      Pellentesque massa libero, rutrum at maximus at, viverra malesuada dolor. 
      Aliquam dignissim dui ac ante blandit, a venenatis nunc lacinia. 
      Aenean gravida tempus mattis.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Maecenas a semper lectus, sed semper neque.
      In sed odio eu tellus luctus auctor et ut odio. 
      Maecenas nibh turpis, tincidunt in pretium euismod, tincidunt eu libero.
      Curabitur sollicitudin condimentum mauris, vitae maximus nunc pharetra vel.
      In dictum, eros sit amet condimentum sagittis, lorem neque auctor nunc, sit amet sodales turpis quam non lorem.
      Quisque vel varius erat. Sed faucibus iaculis odio non venenatis. 
      Suspendisse ornare sapien at sem dictum dignissim. 
      Suspendisse at placerat tellus, eu laoreet mi. Sed pretium tempus risus vitae scelerisque. 
      Fusce vel luctus quam, id venenatis felis. 
      Praesent sagittis vehicula enim, vitae varius odio consectetur non. 
      Pellentesque massa libero, rutrum at maximus at, viverra malesuada dolor. 
      Aliquam dignissim dui ac ante blandit, a venenatis nunc lacinia. 
      Aenean gravida tempus mattis.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Maecenas a semper lectus, sed semper neque.
      In sed odio eu tellus luctus auctor et ut odio. 
      Maecenas nibh turpis, tincidunt in pretium euismod, tincidunt eu libero.
      Curabitur sollicitudin condimentum mauris, vitae maximus nunc pharetra vel.
      In dictum, eros sit amet condimentum sagittis, lorem neque auctor nunc, sit amet sodales turpis quam non lorem.
      Quisque vel varius erat. Sed faucibus iaculis odio non venenatis. 
      Suspendisse ornare sapien at sem dictum dignissim. 
      Suspendisse at placerat tellus, eu laoreet mi. Sed pretium tempus risus vitae scelerisque. 
      Fusce vel luctus quam, id venenatis felis. 
      Praesent sagittis vehicula enim, vitae varius odio consectetur non. 
      Pellentesque massa libero, rutrum at maximus at, viverra malesuada dolor. 
      Aliquam dignissim dui ac ante blandit, a venenatis nunc lacinia. 
      Aenean gravida tempus mattis.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Maecenas a semper lectus, sed semper neque.
      In sed odio eu tellus luctus auctor et ut odio. 
      Maecenas nibh turpis, tincidunt in pretium euismod, tincidunt eu libero.
      Curabitur sollicitudin condimentum mauris, vitae maximus nunc pharetra vel.
      In dictum, eros sit amet condimentum sagittis, lorem neque auctor nunc, sit amet sodales turpis quam non lorem.
      Quisque vel varius erat. Sed faucibus iaculis odio non venenatis. 
      Suspendisse ornare sapien at sem dictum dignissim. 
      Suspendisse at placerat tellus, eu laoreet mi. Sed pretium tempus risus vitae scelerisque. 
      Fusce vel luctus quam, id venenatis felis. 
      Praesent sagittis vehicula enim, vitae varius odio consectetur non. 
      Pellentesque massa libero, rutrum at maximus at, viverra malesuada dolor. 
      Aliquam dignissim dui ac ante blandit, a venenatis nunc lacinia. 
      Aenean gravida tempus mattis.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Maecenas a semper lectus, sed semper neque.
      In sed odio eu tellus luctus auctor et ut odio. 
      Maecenas nibh turpis, tincidunt in pretium euismod, tincidunt eu libero.
      Curabitur sollicitudin condimentum mauris, vitae maximus nunc pharetra vel.
      In dictum, eros sit amet condimentum sagittis, lorem neque auctor nunc, sit amet sodales turpis quam non lorem.
      Quisque vel varius erat. Sed faucibus iaculis odio non venenatis. 
      Suspendisse ornare sapien at sem dictum dignissim. 
      Suspendisse at placerat tellus, eu laoreet mi. Sed pretium tempus risus vitae scelerisque. 
      Fusce vel luctus quam, id venenatis felis. 
      Praesent sagittis vehicula enim, vitae varius odio consectetur non. 
      Pellentesque massa libero, rutrum at maximus at, viverra malesuada dolor. 
      Aliquam dignissim dui ac ante blandit, a venenatis nunc lacinia. 
      Aenean gravida tempus mattis.
    </p>
  </div>
  

  <!-- <div class="footer">
    <a href="/Link1"> About RTU </a>
    <a href="/Link2"> Aluminus Netwok </a>
    <a href="/Link3"> Other Links </a>
    <a href="/Link4"> Contact Details </a>

    <p>ABC Technological University 2020</p>
  </div> -->
  <div class="footer">
    <table width="1280px" style="justify-content: center;">
      <tr>
        <th>About Us</th>
        <th>Aluminus Networks</th>
        <th>Other Links</th>
        <th>Contact Us</th>
      </tr>
      <tr>
        <td>
          <span style="color:white; font-size:14px"> &#10095; </span>Link1
        </td>
        <td>
          <span style="color:white; font-size:14px"> &#10095; </span>Drive
        </td>
        <td>
          <span style="color:white; font-size:14px"> &#10095; </span>Documentation
        </td>
        <td>
          <span style="color:white; font-size:14px"> &#10095; </span>About Us
        </td>
      </tr>
      <tr>
        <td>
          <span style="color:white; font-size:14px"> &#10095; </span>Link1
        </td>
        <td>
          <span style="color:white; font-size:14px"> &#10095; </span>Changelog
        </td>
        <td>
          <span style="color:white; font-size:14px"> &#10095; </span>Support
        </td>
        <td>
          <span style="color:white; font-size:14px"> &#10095; </span>Blogs
        </td>
      </tr>
      <tr>
        <td>
          <span style="color:white; font-size:14px"> &#10095; </span>Link1
        </td>
        <td>
          <span style="color:white; font-size:14px"> &#10095; </span>Quick Start Guide
        </td>
        <td>
          <span style="color:white; font-size:14px"> &#10095; </span>GitHUB
        </td>
        <td>
          <span style="color:white; font-size:14px"> &#10095; </span>The Team
        </td>
      </tr>

      <tr>
        <td>
          <span style="color:white; font-size:14px"> &#10095; </span>Link1
        </td>
        <td>
          <span style="color:white; font-size:14px"> &#10095; </span>Link1
        </td>
        <td>
          <span style="color:white; font-size:14px"> &#10095; </span>Link1
        </td>
        <td>
          <span style="color:white; font-size:14px"> &#10095; </span>Contacts
        </td>
      </tr>

      <tr>
        <td>
          <span style="color:white; font-size:14px"> &#10095; </span> Link1
        </td>
        <td>
          <span style="color:white; font-size:14px"> &#10095; </span> Link1
        </td>
        <td>
          <span style="color:white; font-size:14px"> &#10095; </span> Link1
        </td>
        <td>
          <span style="color:white; font-size:14px"> &#10095; </span> Link1
        </td>
      </tr>
    </table>

    <p style="text-align: center;">
      ShareDocs copyrigtht and other legal info that needs to be added to this
      list right here
    </p>
  </div>
</body>
</html>
